*  {
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: aquamarine;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
}

.header > div{
    margin: 15px;
}

.header > div:hover{
    background-color: aqua;
    cursor: pointer;
    padding: 10px;
    transform: scale(1.1);
}
.div1, .div2, .div3{
    font-size: 40px;
    padding: 10px;
    font-family:fantasy;
    
}
a{
    text-decoration: none;
    color: blue;
}
a:link {
    color: none;
    text-decoration: none;
}
a:visited {
    color: none;
    text-decoration: none;
  }
a:active {
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.container{
    display:grid;
    background-color: transparent;
    grid-template-columns: auto auto;
    margin: 0 auto;
    align-items: center;
    width: 82.7%;
    justify-content: space-around;
}
.item1, .item2{
    padding: 20px;
    text-align: center;
}

.item2{
    font-family:fantasy;
}
img {
    width: 100%;
    height: auto;
    object-fit: fill;
  }
 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
hr{
    size: 1;
    width: 80%;
}
.container2{
    display:grid;
    background-color: transparent;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    align-items: center;
    width: 82.7%;
    justify-content: space-around;
}
.im1, .im2, .im3, .im3{
    padding: 20px;
    text-align: center;
}
h1{
    text-align: center;
    font-family:fantasy;
    color: blue;
    font-size: 40px;
    border: 1px solid rgb(0, 0, 0);
}
