@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
	color: inherit;
}

body > header {
    padding: 1em;
    background-color: #046DD5; 
    color: #FFF;
}

body > header h2 {
    font-size: 1em;
    font-weight: bold;
}

#signup a {
    font-size: .8em ;
}

#signup a:first-child {
    border-right: 1px solid white;
    padding-right: .5rem;
}

#signup a:last-child {
	padding-left: .5rem;
}

#hamburger {
	display: none;
}

#menu ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: white;

	padding: .5em .1em; 

	transition: .5s ease all;
}
#menu > ul > li:nth-child(1){
    border-top: #E1493E solid 5px;
}
#menu > ul > li:nth-child(2){
    border-top: #8ABA56 solid 5px;
}
#menu > ul > li:nth-child(3){
    border-top: #5B4282 solid 5px;
}
#menu > ul > li:nth-child(4){
    border-top: #FF8932 solid 5px;
}
#menu > ul > li:nth-child(5){
    border-top: #19B6E9 solid 5px;
}
#menu > ul > li:nth-child(6){
    border-top: #E84C8B solid 5px;
}

#menu ul li:nth-child(6) {
	border-top: 5px solid #E84C8B;
}

#related {
	background-color: #2A2F33;
	color: white;
	
	padding: 2rem 1rem;
}

#related article h1 {
	margin-bottom: .4rem;
}

#related article p {
	margin-bottom: .8rem;
	font-family: 'Lora', serif;
	line-height: 1.6;
}

#news {
	margin-top: 1em;
}

#news article  {
	position: relative;
	
	margin-bottom: 1em;
	
	background-color: white;
}

#news article header {
	position: absolute;
	
	top: 1.5rem;
	left: 1.5rem;
	
	color: white;
	width: 200px;
	
	text-shadow: 0px 4px 4px rgba(0, 0, 0, .85);
}

#news article img {
	width: 100%;
}

#news article p {
	padding: 0 1.5rem;
	margin-bottom: 1.5rem;
	font-family: 'Lora', serif;
	font-size: 1rem;
}

#news > article > p:last-child {
	margin-bottom: 0;
}

#news footer {
	color: white;
	background: #F4655F;
	
	padding: 1em 1em;
	
	font-family: monospace;
	font-weight: light;
}

#news footer .tags a,
#news article footer .comments {
	text-decoration: underline;
	text-underline-offset: 2px;
}

#news article footer .comments::after{
	content: ' comentários';
}

body > footer {
	background-color: #2A2F33;
	padding: 1em 1em .5em 1em;
	
	font-family: 'Verdana', serif;
	color: white;
}


