.header{
    display: flex;
    background-color: aquamarine;
    align-items: stretch;
    
}

.header > div{
    margin: 15px;
}

.header > div:hover{
    background-color: aqua;
    cursor: pointer;
    margin: 10px;
}

.div1{
    flex-grow: 7
    
}
.container{
    display:grid;
    background-color: transparent;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    align-items: center;
    width: 800px;
    padding-right: 15%;
}
.item1, .item2,.item3{
    padding: 20px;
    text-align: center;
}
img {
    width: 300px;
    height: 200px;
    object-fit: fill;
  }
 img:hover{
    transform: scale(1.1);
    cursor: pointer;
    margin: 10px;
}
h1{
    text-align: center;
}
